*{
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
}

.container{
	width: 90%;
	margin: 0px auto;
}

header{
	text-align: center;
	color: grey;
}
nav{
	background-color: blue;
	color: white;
}
nav div{
	display: inline-block;
	padding: 10px;
}
a{
	text-decoration: none;
	text-decoration-color: white;
	text-decoration-line: none;
	color: white;
}

.sidebar{
	display: none;
	background-color: blue;
	color:white;
	height: 400px;
	margin-top: 30px;
	/*width: 15%;*/
}
section.flotantes{
	margin-left: 5%;
	text-align: center;
}
.flotante{
	/*float:left;
	width: 100%;*/
	border: 1px solid blue;
	border-radius: 10px;
	font-size: 0.8em;
	padding: 10px;
	margin-top: 30px;
	height: auto;
}

.flotante img{
	width: 50%;
}
.flotante li, .articulos li{
	list-style: none;
}
.articulos{
	column-count: 1;
	/*float: left;
	width: 800%;*/
	margin-left: 5%;
	margin-top: 30px;
}
footer{
	clear:both;
	background-color: grey;
	padding: 20px;
	text-align: center;
}
footer span{
	color:blue;
}

@media screen and (min-width: 576px and max-width: 992px){
	section.flotantes{
		float: left;
		width: 100%
	}
	.flotante{
		float: left;
		width: 50%;
	}
	#tercera{
		float:left;
		width: 100%;
	}
	.articulos{
		column-count: 2;
		float: left;
		width: 100%
	}
}

@media screen and (min-width: 993px){
	section.flotantes{
		float: left;
		width: 80%;
	}
	.flotante{
		float: left;
		width: 33.33%
	}
	.articulos{
		column-count: 3;
		float: left;
		width: 80%;
		margin-left: 5%;
		margin-top: 30px;
	}
	.sidebar{
		float: left;
		width: 15%;
		display: inline-block;
	}
}